@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --text-color: theme('textColor.light.1');
  --text-color-bold: theme('textColor.light.2');
  --text-accent-color: #8a2be2;
  --button-color: theme('textColor.dark.2');
  --button-background-color: theme('textColor.light.2');
  --secondary-background-color: theme('backgroundColor.light.2');
  @apply text-light-1 bg-light-1;
}

@layer components {
  .header {
    @apply fixed top-0 z-30 flex w-full items-center justify-between px-24 py-6;
  }

  .header__menu_item {
    @apply text-base-medium;
  }

  .footer {
    @apply flex items-center justify-center gap-x-2 w-full h-16 bg-[var(--secondary-background-color)];
  }

  .banner-image {
    -webkit-filter: drop-shadow(10px -20px 50px var(--text-accent-color));
    filter: drop-shadow(10px -20px 50px var(--text-accent-color));
  }

  .about-image {
    -webkit-filter: drop-shadow(10px -20px 50px var(--text-accent-color));
    filter: drop-shadow(10px -20px 50px var(--text-accent-color));
  }
}

@layer utilities {
  .section {
    @apply px-6 sm:px-24 py-8 lg:py-16;
  }

  .section-even {
    background-color: var(--secondary-background-color);
  }

  .text-bold {
    color: var(--text-color-bold);
  }

  .text-accent {
    color: var(--text-accent-color);
  }

  .btn {
    color: var(--button-color);
    background-color: var(--button-background-color);
    @apply rounded-lg px-5 py-1.5 text-small-medium;
  }

  .contact-info {
    @apply flex items-center justify-center gap-x-4 text-h3-bold;
  }
}

@media (prefers-color-scheme: dark) {
  :root {
    --text-color: theme('textColor.dark.1');
    --text-color-bold: theme('textColor.dark.2');
    --text-accent-color: #4B0082;
    --button-color: theme('textColor.light.2');
    --button-background-color: theme('textColor.dark.2');
    --secondary-background-color: theme('backgroundColor.dark.2');
    @apply text-dark-1 bg-dark-1;
  }
}

p {
  @apply py-2;
}
